<h1>Restaurants</h1>
<p><%= link_to "✨ Add new restaurant", restaurants_new_path %></p>
<% @restaurants.each do |restaurant| %>
  <div>
    <div>
      <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <p><%= restaurant.address %></p>
    </div>
      <p>Rating: <%= restaurant.rating %></p>
      <p>id: <%= restaurant.id %></p>
  </div>
<% end %>
