<h1><%= @restaurant.name %></h1>
<p>(<%= "â­" * @restaurant.rating %>)</p>

<p><%= @restaurant.address %></p>

<p><%= link_to "â†©ï¸ Back to all restaurants", restaurants_path %></p>
<%= link_to "ðŸ“ Edit", restaurant_edit_path %>
<%= link_to "ðŸ—‘ï¸ Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Delete this restaurant?"}
%>
